body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 96px;
}

h1 {
    position: absolute;
    font-size: 60px !important;
    font-family: sans-serif;
    top: 12%;
    left: auto;
    right: auto;
}

.main-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0;
    position: relative;
    /* animation: 8s infinite linear rotate; */
}

.big-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #832729;
}

.small-circle {
    width: 200px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background: #fff;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 0;
}

svg {
    transform: rotate(-69deg);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.5);
        /* transform: scale(1.5); */
    }
    100% {
        transform: rotate(360deg) scale(1.5);
        /* transform: scale(1.5); */
    }
}